*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color:dimgrey;
    
  }
  
  .navbar{
    grid-column: 1/ span 4;
    display: flex;
    justify-content: space-between;
  }
.home-links{
    display: flex;
    flex-direction:column;
    border: 4px solid #ddd;
    padding: 20px;
    gap: 7px;
}
.home-btn {
  border: 4px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction:column;
  gap: 7px;
  justify-content: center;
  
}

.home-btn a, .home-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}

footer {
  grid-column: span 5;
  text-align: center;
  padding: 20px;
  background-color:chocolate;
  border: 1px solid black;
  font-size:large ;
  font-weight: bold;
}
